<template>

  <v-layout fill-height class="layout-block">
    <v-flex fill-height>

      <div v-for="category in block.categories" class="category" :key="category.id">
        <v-layout class="hidden-sm-and-down">
          <v-flex>
            <v-parallax :src="category.image_url" height="230"></v-parallax>
          </v-flex>
        </v-layout>

        <v-layout class="hidden-md-and-up">
          <v-flex>
            <img :src="category.image_url" class="category__logo"></img>
          </v-flex>
        </v-layout>

        <v-layout row justify-center>
          <v-flex xs12 sm12 lg7>
            <div v-if="lang === 'en'" class="category-description">
              <h2>{{category.en_title}}</h2>
              <div v-html="category.en_description"></div>
            </div>
            <div v-else class="category-description">
              <h2>{{category.ru_title}}</h2>
              <div v-html="category.ru_description"></div>
            </div>

            <v-layout row wrap justify-center class="projects">
              <v-flex xs12 sm12 md4 lg4 pa-1 v-for="project in category.projects" :key="project.id">
                <v-card class="project" :href="project.website" target="_blank">
                  <div class="project-flip">
                    <div class="card">
                      <div class="front face">
                        <img :src="project.logo_url"/>
                      </div>
                      <div class="back face">
                        <img :src="project.image_url"/>
                      </div>
                    </div>
                  </div>
                  <v-card-actions class="project-url pa-0">
                    <span v-if="category.is_mobile">
                      {{ lang === 'en' ? project.en_title : project.ru_title }}
                    </span>
                    <span v-else>{{ project.website | stripHttp }}</span>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>

      </div>

    </v-flex>
  </v-layout>

</template>


<script>
  export default {
    props: ['blockUrl'],
    computed: {
      lang() {
        return this.$store.state.lang;
      },
      block() {
        for (let i = 0; i < this.$store.state.blocks.length; i += 1) {
          if (this.$store.state.blocks[i].url === this.blockUrl) {
            return this.$store.state.blocks[i];
          }
        }
        return null;
      },
      blocks() {
        return this.$store.state.blocks;
      },
      blocksLeft() {
        return this.$store.state.blocks.slice(0, 3);
      },
      blocksRight() {
        return this.$store.state.blocks.slice(3, 6);
      },
    },
    mounted() {
      this.$store.commit('SetBlockUrl', this.blockUrl);
    },
    filters: {
      stripHttp(value) {
        return value.toLowerCase().replace(/^https?:\/\//, '');
      },
    },
  };
</script>


<style lang="scss">
  .layout-block {
    background: url(/static/img/bg/bg_block.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .v-parallax__content {
    box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  }

  .category {
    margin-bottom: 150px;

    h2 {
      padding: 10px 2px 6px;
    }

    ul {
      padding-left: 20px;
    }

    &__logo {
      max-width: 100%;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    }

    @media (max-width: 1264px) {
      .category-description {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .projects {
    margin-top: 25px;
  }

  .project {
    text-align: center;

    .project-url span {
      display: inline-block;
      margin: 0 auto;
      color: #ccc;
      font-size: 20px;
      text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    }

    &:hover .project-url span {
      color: #222;
    }
  }

  .project-flip {
    position: relative;
    margin: 4px auto;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-color: transparent;
    perspective: 1000;

    img {
      max-width: 100%;
      max-height: 100%;
    }

    .card {
      width: 100%;
      height: 100%;
      transform-style: preserve-3d;
      transition: all 0.7s linear;
    }

    &:hover .card {
      transform: rotateY(180deg);
    }

    .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }

    .face.back {
      transform: rotateY(180deg);
    }
  }
</style>
