<template>
  <v-layout row wrap fill-height pa-0>

    <v-flex xs12 sm6 md6 lg4 v-for="block in blocks" :key="block.id" class="blockbox">
      <v-card :to="`/block/${block.url}`" class="p-block" @click="SetBlockUrl(block.url)"
              :style="{ backgroundImage: 'url(' + block.image_url + ')' }">

        <v-card-text class="p-text px-0" v-show="lang == 'en'">
          <div class="p-text-title" :style="{ color: block.color ? block.color : null }">{{ block.en_title }}</div>
          <div class="p-text-description">{{ block.en_description }}</div>
        </v-card-text>

        <v-card-text class="p-text px-0" v-show="lang == 'ru'">
          <div class="p-text-title" :style="{ color: block.color ? block.color : null }">{{ block.ru_title }}</div>
          <div class="p-text-description">{{ block.ru_description }}</div>
        </v-card-text>

      </v-card>
    </v-flex>

  </v-layout>
</template>

<script>
  export default {
    computed: {
      blocks() {
        return this.$store.state.blocks;
      },
      lang() {
        return this.$store.state.lang;
      },
    },
    methods: {
      SetBlockUrl(blockUrl) {
        this.$store.dispatch('SetBlockUrl', blockUrl);
      },
    },
  };
</script>

<style scoped>
  .v-card {
    height:        100%;
    border-radius: 0;
  }
  .blockbox {
    transform:  translateZ(0);
    overflow:   hidden;
    border:     1px solid #3f4e5c;
    background: #3f4e5c;
  }
  .p-block {
    position:            relative;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    transition:          transform 1.5s;
    border:              none !important;
    cursor:              pointer;
    outline:             2px solid #3f4e5c;
  }
  .p-block:hover {
    -webkit-transform: scale(1.1);
    -moz-transform:    scale(1.1);
    -o-transform:      scale(1.1);
    transform:         scale(1.1);
    z-index:           100;
  }
  .p-block::after {
    content:            '';
    display:            block;
    position:           absolute;
    top:                0;
    bottom:             0;
    left:               0;
    right:              0;
    background-color:   rgba(0, 0, 0, .7);
    -webkit-transition: background 1s ease-out;
    -moz-transition:    background 1s ease-out;
    -o-transition:      background 1s ease-out;
    transition:         background 1s ease-out;
  }
  .p-block:hover::after {
    background-color: rgba(0, 0, 0, .3);
  }
  .p-text {
    color:      white;
    z-index:    1000;
    position:   absolute;
    left:       5%;
    width:      90%;
    margin-top: 26px;
    padding:    0 10px 16px !important;
  }
  .p-text-title {
    font-size:     24px;
    line-height:   28px;
    text-shadow:   2px 4px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
  }
  .p-text-description {
    font-size:   16px;
    line-height: 20px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }
  @media (max-width: 800px) {
    .p-text {
      margin-top: 16px;
      padding:    0 4px 10px !important;
    }
    .p-text-title {
      font-size:     20px;
      line-height:   24px;
      margin-bottom: 8px;
    }
    .p-text-description {
      font-size:   14px;
      line-height: 16px;
    }
    .p-block:hover {
      -webkit-transform: scale(1.05);
      -moz-transform:    scale(1.05);
      -o-transform:      scale(1.05);
      transform:         scale(1.05);
    }
  }
</style>
