/* MAIN */
html, body {
  background: #3f4e5c;
}
body .application {
  font-family: 'Open Sans', sans-serif;
}
/* TRANSITIONS */
.fade-enter-active {
  transition: opacity .2s;
}
.fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.slide-leave-active, .slide-enter-active {
  transition: .5s;
}
.slide-enter {
  transform: translate(100%, 0);
}
.slide-leave-to {
  transform: translate(-100%, 0);
}
/* LANG */
img.lang {
  display:    inline-block;
  position:   fixed;
  z-index:    1000;
  right:      10px;
  top:        10px;
  width:      55px;
  cursor:     pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  &.bottom {
    top:    auto;
    bottom: 10px;
  }
}
@media (max-width: 960px) {
  img.lang {
    right: 4px;
    top:   4px;
    width: 40px;
    &.bottom {
      bottom: 4px;
    }
  }
}
/* NO-SELECT */
#app .noselect, #app .noselect *, #app .noselect:focus, #app .noselect *:focus {
  outline:                     none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout:       none;
  -webkit-user-select:         none;
  -khtml-user-select:          none;
  -moz-user-select:            none;
  -ms-user-select:             none;
  user-select:                 none;
}
/* PAGE-LOADER */
#app {
  .page-loader {
    position:         absolute;
    top:              0;
    left:             0;
    margin:           0;
    padding:          1px 0 8px 0;
    background-color: whitesmoke;
    border-top:       1px solid #2e6a9c;
    border-bottom:    1px solid #2e6a9c;

    .v-progress-linear__background {
      background-color: whitesmoke !important;
    }
  }
}
/* HEADER */
#header {
  background: #000000;
  color:      white;

  i {
    color:        white;
    margin-right: 5px;
  }
  .blocks-link-action {
    color:       white;
    min-height:  58px;
    font-size:   13px;
    line-height: 16px;
  }
  .blocks-link-action.active, .blocks-link-action:hover {
    text-shadow: 4px 0px 4px rgba(255, 235, 205, .4),
                 -4px 0px 4px rgba(255, 235, 205, .4),
                 8px 0px 8px rgba(255, 235, 205, .4),
                 -8px 0px 8px rgba(255, 235, 205, .4);
  }
  .blocks-link-action.active {
    box-shadow: inset 0 0 5px 5px rgba(255, 235, 205, .2);
  }
  @media (min-width: 1264px) and (max-width: 1420px) {
    .blocks-link-action {
      font-size: 12px;
      padding: 2px;
    }
    i {
      font-size: 23px !important;
    }
  }
  @media (max-width: 960px) {
    i {
      margin: 0 auto;
    }
  }
}
/* FLIP LOGO */
#zlogo {
  position: relative;
  margin: 4px auto;
  width: 45px;
  height: 38px;
  z-index: 1;
  background-color: transparent;
  perspective: 1000;

  img {
    max-width:  100%;
    max-height: 50px;
  }
  .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.7s linear;
  }
  &:hover .card {
    transform: rotateY(180deg);
  }
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .face.back {
    transform: rotateY(180deg);
  }
}