<template>
  <v-app>
    <v-content>

      <img class="lang" v-if="lang == 'en'" src="/static/img/flags/flag-en.jpg" @click="SetLang('ru')"
           :class="{bottom: $router.currentRoute.path !== '/'}"/>
      <img class="lang" v-else src="/static/img/flags/flag-ru.jpg" @click="SetLang('en')"
           :class="{bottom: $router.currentRoute.path !== '/'}"/>

      <v-progress-linear v-show="loading" :indeterminate="true" class="page-loader"></v-progress-linear>

      <template>
        <v-layout row justify-center id="header" v-show="$router.currentRoute.path !== '/'">
          <v-flex lg3 md5 xs5>
            <v-layout row>
              <v-flex v-for="block in blocksLeft" xs4 :key="block.id">
                <v-card :to="`/block/${block.url}`" class="block-link justify-center" color="black"
                        @click="SetBlockUrl(block.url)">
                  <v-card-actions class="blocks-link-action" :class="{active: blockUrl === block.url}">
                    <v-icon medium>{{block.material_icon}}</v-icon>
                    <span v-if="lang == 'en'" class="hidden-sm-and-down">{{block.en_title}}</span>
                    <span v-else class="hidden-sm-and-down">{{block.ru_title}}</span>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex lg1 xs2>
            <v-layout row>
              <v-flex 12 class="text-xs-center">
                <v-card to="/" class="menu-logo" id="zlogo" @click="SetBlockUrl(null)">
                  <div class="card">
                    <div class="front face">
                      <img src="/static/img/z-logo.png"/>
                    </div>
                    <div class="back face">
                      <img src="/static/img/z-logo-reverse.png"/>
                    </div>
                  </div>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-flex lg3 md5 xs5>
            <v-layout row>
              <v-flex v-for="block in blocksRight" xs4 :key="block.id">
                <v-card :to="`/block/${block.url}`" class="block-link justify-center" color="black"
                        @click="SetBlockUrl(block.url)" :class="{active: blockUrl === block.url}">
                  <v-card-actions class="blocks-link-action" :class="{active: blockUrl === block.url}">
                    <v-icon medium>{{block.material_icon}}</v-icon>
                    <span v-if="lang == 'en'" class="hidden-sm-and-down">{{block.en_title}}</span>
                    <span v-else class="hidden-sm-and-down">{{block.ru_title}}</span>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </template>

      <v-container fluid pa-0 fill-height>
        <transition name="fade" mode="out-in">
          <router-view class="view"></router-view>
        </transition>

        <notifications group="error" position="bottom center" width="500px" animation-type="velocity"/>
        <notifications group="info" position="bottom center" width="500px" animation-type="velocity"/>
      </v-container>

    </v-content>
  </v-app>
</template>

<script>
  export default {
    computed: {
      loading() {
        return this.$store.state.loading;
      },
      lang() {
        return this.$store.state.lang;
      },
      blocksLeft() {
        return this.$store.state.blocks.slice(0, 3);
      },
      blocksRight() {
        return this.$store.state.blocks.slice(3, 6);
      },
      blockUrl() {
        return this.$store.state.blockUrl;
      },
    },
    methods: {
      SetLang(lang) {
        this.$store.dispatch('SetLang', lang);
      },
      SetBlockUrl(blockUrl) {
        this.$store.dispatch('SetBlockUrl', blockUrl);
      },
    },
    created() {
      this.$store.dispatch('SetLoading', false);
    },
  };
</script>
